{% extends 'base.html' %}

{% block title %}
Редактирование
{% endblock %}

{% block body %}
<div class ="container mt-5">
    <h1>  Редактирование </h1>
    <form method="post">
        <input type="text" name="title" id="title" class="form-control" value="{{ article.title }}" placeholder="Введите название"><br>
        <textarea name="intro" id="intro" class="form-control" placeholder="Введите описание">{{ article.intro }}</textarea><br>
        <textarea name="text" id="text" class="form-control" placeholder="Введите текст">{{ article.text }}</textarea>
        <textarea name="commit" id="commit" class="form-control" placeholder="Введите коммит"></textarea>
        <input type="submit" name="update" class="btn btn-success" value="Обновить"></a>
        <input type="submit" name="save_changes" class="btn btn-success" value="Сохранить версию текста"></a><p>

        {% if current_user.id == article.user_id %}
        <label for="access_users">Пользователи, которым предоставить доступ (через запятую):</label>
        <input type="text" name="access_users" id="access_users" class="form-control" placeholder="Введите логины через запятую"><br>
        {% endif %}
    </form>
</div>
{% endblock %}